/** MAIN **/
html, body, #root {
  height: 100%;
  font-family: Roboto;
  background-color: #194262;
  color: white;
}
.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graph-container{
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  width: 75%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graph-container h3{
  color: #194262;
  display: block;
  width: 100%;
  text-align: left;
  /* text-transform: uppercase; */
  font-size: 16px;
  margin-left: 25px;
}
@media screen and (max-width: 980px) {
  .graph-container {
    width: 100% !important;
  }
}

/** LOAD SPINNERS **/
.loader-large {
  width: 60px;
  height: 60px;
}
.loader-small {
  width: 10px;
  height: 10px;
}
.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
.loader-large:after {
  width: 46px;
  height: 46px;
  border: 5px solid #194262;
  border-color: #194262 transparent #194262 transparent;
}
.loader-small:after {
  width: 16px;
  height: 16px;
  border: 2px solid #194262;
  border-color: #194262 transparent #194262 transparent;
}
@keyframes spin {
  0%    { transform: rotate(0deg);    }
  100%  { transform: rotate(360deg);  }
}



/** ADD CURRENCY SECTION **/
.add-currency-options{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bdb7b7;
  font-weight: 100;
  font-size: 10px;
}
.add-currency-options > *{
  margin: 10px 20px;
  margin-top: 0px;
}
.add-currency-options .small-gray-btn{
  margin-left: 20px;
}
.currency-select{
  border: 0 !important;
  height: 2.3em;
  background: #aaaaaa3f;
  overflow: hidden;
  border-radius: .25em;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #194262;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.currency-select:hover {
  opacity: .7;
  transition: all .2s ease-in-out;
}


/** LINE CHART GRAPH AND TOOLTIPS **/
.rate-history-chart {
	position: relative;
	display: block;
  margin: 0 auto;
}
.chart-point {
  opacity: 100%;
}
.chart-point:hover {
  opacity: 0%;
}
.rate-history-chart--tooltip {
  display: block;
  position: absolute;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  font-family: Sans-serif;
  font-size: 10px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  white-space: nowrap;
}
.rate-history-chart--tooltip p {
  padding: 2px;
  margin: 0;
}
.rate-history-chart--tooltip::before {
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-top: 6px solid #d0d0d0;
  bottom: -12px;
  left: 50%;
  margin-left: -6px;
}
.rate-history-chart--tooltip::after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}		
.rate-history-chart i::before {
  content: ': ';
}
.rate-history-chart--axis {
  font-family: Sans-serif;
  font-size: 10px;
  fill: #ccc;
}	
.rate-history-chart--label {
  font-family: Sans-serif;
  font-size: 10px;
}
.rate-history-chart circle {
  transition: .3s ease-in-out;
}
.rate-history-chart g {
	transition: 1.5s ease-in-out;
}


/** GRAPH FILTER CHIPS **/
.graph-chip {
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e0e0e0;
  margin: 3px;
  padding: 2px 12px;
  border-radius: 32px;
  font-size: 11px;
  color: #383131;
  overflow: hidden;
  transition: width .15s ease-in-out;
  white-space: nowrap;
}
.graph-chips {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.small-gray-btn {
  color: #5e5959e5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #aaaaaa69;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font-weight: 100;
  line-height: 20px;
}
.small-gray-btn:hover {
  background: #9999996b;
  color: #ffffff8a;
  cursor: pointer;
}
.graph-color {
  display: block;
  float: left;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
  opacity: .65;
}
.graph-color-large{
  width: 25px;
  height: 25px;
}
.graph-color-small{
  width: 10px;
  height: 10px;
  margin: 0;
}
/** CURRENCY TABLE **/
.currency-table { 
  max-width: 50rem;
  border-collapse: collapse;
  padding: 0;
  background-color: white;
  color: black;
  font-weight: lighter;
  font-size: 12px;
  margin: 30px 0;
}
.currency-table thead {
  white-space: nowrap;
  transition: all .2 ease-in-out;
  border-bottom: 1px solid #194262;
}
.currency-table {
  text-align: center;
}
.currency-table th:hover:not(:first-child) {
  background-color: #01e1ff0c;
  transition: all .2 ease-in-out;
}
.currency-table th, td {
  padding: .7em;
}
.currency-table .indicate-sort {
  opacity: 0;
}
.currency-table tr:hover .indicate-sort {
  opacity: .3;
  transition: all .2s ease-in-out;
}