/** MAIN THEME **/
html, body, #root {
  height: 100%;
  font-family: Roboto;
  background-color: #194262;
  color: white;
}
.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graph-container{
  background-color: white;
  padding: 20px;
  width: 80%;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.graph-container h3{
  color: #194262;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 16px;
  margin-top: 0;
  margin-left: 25px;
}
.add-and-chips-container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat( auto-fit, 50% );
  justify-content: space-between;
}
.add-and-chips-container > * {
  display: grid;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 980px) {
  .graph-container {
    width: 100% !important;
  } 
}
@media screen and (max-width: 1100px) {
  .add-and-chips-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
  }
  .graph-chips {
    grid-template-columns: repeat(6, auto) !important;
  }
}
@media screen and (max-width: 710px) {
  .graph-chips {
    grid-template-columns: repeat(3, auto) !important;
  }
}


/** LOAD SPINNERS **/
.loader-large {
  width: 60px;
  height: 60px;
}
.loader-small {
  width: 10px;
  height: 10px;
}
.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
.single-spin {
  animation: spin .5s linear 1;
}
.loader-large:after {
  width: 46px;
  height: 46px;
  border: 5px solid #194262;
  border-color: #194262 transparent #194262 transparent;
}
.loader-small:after {
  width: 16px;
  height: 16px;
  border: 2px solid #194262;
  border-color: #194262 transparent #194262 transparent;
}
@keyframes spin {
  0%    { transform: rotate(0deg);    }
  100%  { transform: rotate(360deg);  }
}

.data-span {
  position: relative;
}

.overlap {
  display: flex;
  position: absolute;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  min-height: 100% !important;
  /* background-color: rgba(226, 213, 213, 0.4); */
  z-index: 100;
}
.overlap .loader {
  margin-top: 150px;
}


/** ADD CURRENCY SECTION **/
.add-currency-options{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #194262;
  font-weight: 100;
  font-size: 14px;
}
.add-currency-options > *{
  margin: 0px 20px;
}
.add-currency-options .small-gray-btn{
  margin-left: 20px;
  font-size: 14px;
  font-weight: bolder;
}
.currency-select{
  border: 0 !important;
  height: 2.3em;
  background: #aaaaaa3f;
  overflow: hidden;
  border-radius: .25em;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #194262;
  font-weight: bold;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.currency-select:hover {
  opacity: .7;
  transition: all .2s ease-in-out;
}


/** LINE CHART GRAPH AND TOOLTIPS **/
.rate-history-chart {
	position: relative;
	display: block;
  margin: 0 auto;
}
.chart-point {
  opacity: 100%;
}
.chart-point:hover {
  opacity: 0%;
}
.rate-history-chart--tooltip {
  display: block;
  position: absolute;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  font-size: 10px;
  pointer-events: none;
  transform: translate(-50%, -100%);
  white-space: nowrap;
}
.rate-history-chart--tooltip p {
  padding: 2px;
  margin: 0;
}
.rate-history-chart--tooltip .seperator-line {
  height: 1px;
  margin: 2px 0;
  opacity: .7;
}
.rate-history-chart--tooltip::before {
  content: '';
  position: absolute;
  border: 6px solid transparent;
  border-top: 6px solid #d0d0d0;
  bottom: -12px;
  left: 50%;
  margin-left: -6px;
}
.rate-history-chart--tooltip::after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
}		
.rate-history-chart i::before {
  content: ': ';
}
.rate-history-chart--axis {
  font-size: 10px;
  fill: #194262;
  opacity: .8;
}	
.rate-history-chart--label-transpose {
  transform: rotate(-90deg);
}	
.rate-history-chart--label-transpose,
.rate-history-chart--label {
  font-size: 11px;
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 1px;
  fill: #c9c0c0;
}
.rate-history-chart circle {
  transition: .3s ease-in-out;
}
.rate-history-chart g {
	transition: 1.5s ease-in-out;
}


/** GRAPH FILTER CHIPS **/
.graph-chip {
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e0e0e0;
  margin: 3px;
  padding: 2px 12px;
  border-radius: 32px;
  font-size: 11px;
  color: #383131;
  overflow: hidden;
  transition: width .15s ease-in-out;
  white-space: nowrap;
}
.graph-chips {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.small-gray-btn {
  color: #5e5959e5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #aaaaaa69;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
}
.small-gray-btn:hover {
  background: #9999996b;
  color: #ffffff8a;
  cursor: pointer;
}
.graph-color {
  display: block;
  float: left;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
  opacity: .65;
}
.graph-color-large{
  width: 25px;
  height: 25px;
}
.graph-color-small{
  width: 10px;
  height: 10px;
  margin: 0;
}

/** DATE RANGE INPUT **/
.date-range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
}
.date-range-slider {
  width: 80%;
  display: grid;
  grid-template-columns: repeat( auto-fit, 14% );
  grid-template-rows: auto max-content;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.date-range-slider > * {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.date-range-label {
  color: #c7b8b8;
  font-size: 12px;
  font-weight: lighter;
  margin: 10px 0;
  cursor: pointer;
}
.date-range-label.active {
  color: #486379;
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0;
}
.less-than-active {
  background-color: #486379 !important;
}
.slide-indicator:hover,
.slide-indicator.active {
  width: 16px !important;
  height: 16px !important;
  background-color: #486379 !important;
  transition: all .3s ease-in-out;
}
.slide-indicator {
  background-color: #e2d5d5;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 10000;
  transition: all .3s ease-in-out;
}
.slide-bar {
  position: absolute;
  background-color: #e2d5d5;
  height: 1px;
  width: 100%;
}
.slide-bar.active {
  height: 2px !important;
  background-color: #486379 !important
}
.slide-bar.active-bar {
  left: 0 !important;
  width: 55% !important;
  height: 2px !important;
  background-color: #194262 !important
}
.slide-bar.inactive-bar {
  left: 55% !important;
  width: 45% !important;
  height: 1px !important;
  background-color: #e2d5d5 !important
}
.slide-bar.start.active {
  left: 50% !important;
  width: 50% !important;
  height: 2px !important;
  background-color: #194262 !important
}
.slide-bar.start {
  left: 50% !important;
  width: 50% !important;
  height: 1px !important;
  background-color: #e2d5d5 !important
}
.slide-bar.end {
  left: 0 !important;
  width: 50% !important;
  height: 1px !important;
  background-color: #e2d5d5 !important
}
@media screen and (max-width: 570px) {
  .date-range-slider > * {
    display: none;
  }
  .date-range-picker-container {
    flex-direction: column;
  }
}
.date-range-picker {
  margin-bottom: 30px;
}
.date-range-picker-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.date-range-picker-container .btn {
  display: inline-block;
  border-radius: 100%;
  margin: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #194262;
  transition: all .2s ease-in-out;
}
.date-range-picker-container .btn-loading {
  animation: spin 1.2s linear infinite;
}
.date-range-picker-container .btn span {
  display: inline-block;
  width: 24px;
  height: 35px;
  border-radius: 100%;
  background: url("https://image.ibb.co/gHJdP8/refresh.png") no-repeat center center;
  background-size: contain;
}
.date-range-picker-container .btn:hover {
  background-color: #1a66a0;
  transition: all .3s ease-in-out;
}
.date-range-picker-container > * {
  color: #486379;
  margin: 15px;
  font-size: 14px;
  font-weight: bold;
}
.graph-color-large{
  width: 25px;
  height: 25px;
}

.date-range-picker-container input[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  border: none;
  border-bottom: 1px solid #363434;
  transition: all .2s ease-in-out;
  cursor: text;
}
.date-range-picker-container input[type="date"]:active,
.date-range-picker-container input[type="date"]:hover {
  border-color: #0091ff;
  transition: all .2s ease-in-out;
  color: #0091ff;
}
.date-range-picker-container input[type="date"]::-webkit-datetime-edit { padding: .5em; }
.date-range-picker-container input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  font-family: Roboto;
  text-align: center;
}
.date-range-picker-container input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

.date-range-picker-container input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.date-range-picker-container input[type="date"]::-webkit-datetime-edit-text {
  padding: 0 0.4em;
}


/** CURRENCY TABLE **/
.currency-table { 
  max-width: 50rem;
  border-collapse: collapse;
  padding: 0;
  background-color: white;
  color: black;
  font-weight: 400;
  font-size: 12px;
  margin: 30px 0;
  width: 100%;
}
.currency-table thead {
  /* white-space: nowrap; */
  transition: all .2 ease-in-out;
  border-bottom: 1px solid #194262;
}
.currency-table {
  margin-top: 80px;
  text-align: center;
}
.currency-table th:hover:not(:first-child):not(:last-child) {
  background-color: #01e1ff0c;
  transition: all .2 ease-in-out;
}
.currency-table th, td {
  padding: .7em;
}
.currency-table .indicate-sort {
  opacity: 0;
}
.currency-table tr:hover .indicate-sort {
  opacity: .4;
  transition: all .2s ease-in-out;
}
.rate-history-chart-svg {
  overflow: visible;
}